<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href = "hb_css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{{ title }}}</title>

  </head>

  <body>
    <div class = "container">
        <div class = "jumbotron text-center">
            <img id = "stock" alt = "ding" src = "http://i0.kym-cdn.com/photos/images/original/000/959/452/436.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-4"></div>
        <div class = "col-md-4 text-center">
            <form>
                  <input type = "text" name = "search" placeholder = "Search" text-center>
            </form>

        </div>
        <div class = "col-md-4"></div>
    </div>

    <div class = "row">
      <div class = "col-md-4"></div>
      <div class = "col-md-4 text-center">
        <div class = "row">
          <div class = "topnav">
          <div class = "col-md-3"><a href = "#about">About Us</a></div>
          <div class = "col-md-3"><a href = "#insta"><i class="fa fa-instagram fa-2x" aria-hidden="true""></i></a></div>
          <div class = "col-md-3"><a href = "#fb"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></div>
          <div class = "col-md-3"><a href = "#twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></div>
        </div>


        </div>
      </div>
      <div class = "col-md-4"></div>
    </div>



  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
