<div class="row">
  <div class ="col-md-4 col-md-offset-4 text-center" style="topDiv">
    <h4>Company Search</h4>
    <form action="/" method="post">
      <div class="form-group">
        <input class="form-control" name="company" type="text" placeholder="Enter company name"><br>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <h4>Employee Search</h4>
    <form action="/" method="post">
      <div class="form-group">
        <input class="form-control" name="company" type="text" placeholder="Enter employee name"><br>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12 text-center">
    <div class = "row">
      <div class = "topnav">
        <div class = "col-md-3"><a href = "#about">About Us</a></div>
        <div class = "col-md-3"><a href = "#insta"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
        <div class = "col-md-3"><a href = "#fb"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></div>
        <div class = "col-md-3"><a href = "#twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></div>
      </div>
    </div>
    </div>
</div>
